/* html, body, div {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
font-family: Arial, sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer {
padding: 20px;
background-color: #69a5a4;
color: #fff;
}

h2 {
font-size: 18px;
margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #69a5a4;
}

nav ul li {
    text-align: center;
    display: inline-block;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    padding: 10px;
}

nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.main {
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

section {
    margin-bottom: 20px;
    width: 33%;
}


.watch {
    width: 100%;
}

.footer {
    margin-top: auto;
    text-align: center;
}
 */


html, body, div {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
font-family: Arial, sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer {
padding: 20px;
background-color: #69a5a4;
color: #fff;
}

h2 {
font-size: 18px;
margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #1f8584;
}

nav ul li {
    text-align: center;
    display: inline-block;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    padding: 10px;
}

nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.main {
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

section {
    margin-bottom: 20px;
    width: 33%;
}


.watch {
    width: 100%;
}

.footer {
    margin-top: auto;
    text-align: center;
}