html {
    --peach-yellow: #f7dba7ff;
    --atomic-tangerine: #f1ab86ff;
    --brown-sugar: #c57b57ff;
    --gunmetal: #1e2d2fff;
    --dark-green: #041f1eff;
    --sunset: #EFC88D;

font-family: 'Homemade Apple', cursive;
font-family: 'Shippori Antique B1', sans-serif;
font-family: 'Ysabeau', sans-serif;
}

body {
    
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
}

nav {
    background-color: var(--sunset);
    border-bottom: 2px solid black;
    padding: 16px;
    margin: 12px;
}

#cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

@media screen and (max-width: 480px) {
    #cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }    
}

.recipe-card {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 16px;

}

#logo-div {
    display: inline-block;
    background-color: #5F9A80;
    padding: 0 0 0 12px;
    border: 8px solid var(--brown-sugar);
    opacity: 92%;
    border-radius: 2px;
    box-shadow: 2px 2px 2px var(--gunmetal);
}

#recipeasy {
    display: inline;
    font-family: 'Homemade Apple', cursive;
    font-weight: bold;
    font-size: 3rem;
    color: #eceae6;
}

.recipe-card {
    background-color: var(--atomic-tangerine);
}

h2 {
    max-width: fit-content;
    padding: 0 4px 0 4px;
    background-color: var(--peach-yellow);
}

footer {
    padding: 24px 0px 24px 0px;
}

main {
    padding: 16px;
}

a {
    text-decoration: none;
}

a:hover {
    border: 1px solid white;
    box-shadow: 2px 2px 2px white;
}

li:nth-child(even) {
    background-color: lightgray;
}

tr:nth-child(even) {
    background-color: lightgray;
}